<div class="border-top mt-3">
  <div class="mt-2">
    <small class="fs-12 text-muted"><%=
        time_ago_in_words(comment.created_at)
                                         %>
      ago
    </small>
    <br>

    <%= comment.body %>

    <div class="d-flex">
      <%= button_to comment_comment_likes_path(comment.commentable, comment), method: :post, class: "btn" do %>
        <%= turbo_frame_tag "clap-#{comment.id}" do %>
          <% if comment.likes.exists?(user_id: current_user.id) %>
            <%=
              image_tag 'clap-filled.svg', alt: 'liked', width: 15, height: 15
            %>
          <% else %>
            <%= image_tag 'clap.svg', alt: 'not-liked', width: 15, height: 15 %>
          <% end %>
          <span class="fs-12"><%= comment.likes.count %></span>
        <% end %>
      <% end %>

      <%= link_to  @article, class: "btn"  do %>
        <%= image_tag 'message.svg', alt: 'reply', width: 15, height: 15 %>
        <span class="fs-12"><%= comment.comments.count %></span>
      <% end %>

      <% if policy(comment).destroy? %>
        <%= link_to  comment_path(comment, article_id: @article.id),class: "btn", data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } do %>
          <%= image_tag 'delete.svg', alt: 'Delete', width: 15, height: 15 %>
        <% end %>
      <% end %>
    </div>

    <div class="border rounded-lg shadow-sm p-3 w-75">
      <%= form_with model: [comment, Comment.new] do |f| %>
        <%=
          f.text_area :body,
                      placeholder: 'Replying to...',
                      class: 'text-sm border-none w-100 focus:outline-none focus:ring-0'
        %>
        <%= f.hidden_field :article_id, value: @article.id %>
        <br>

        <div class=" d-flex justify-content-end mt-1 ">
          <%= f.submit 'Respond', class: 'btn primary-btn fw-bold fs-12' %>
        </div>
      <% end %>
    </div>

    <ul>
      <%= render comment.comments %>
    </ul>
  </div>
</div>
