<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="d-flex justify-content-center">
        <div class="bg-white rounded-md shadow-sm border p-5 w-full">
          <h2 class="d-flex justify-content-center">Login</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field mt-3 px-4" style="font-size: 14px;">
              <%= f.label :email, class: 'form-label' %><br>
              <%=
                f.email_field :email,
                              class: 'form-control ',
                              autofocus: true,
                              autocomplete: 'email'
              %>
            </div>

            <div class="field mt-3 px-4" style="font-size: 14px;">
              <%= f.label :password, class: 'form-label' %><br>
              <%=
                f.password_field :password,
                                 class: 'form-control ',
                                 autocomplete: 'current-password'
              %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field mt-3 px-4" style="font-size: 14px;">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, class: 'form-label' %>
              </div>
            <% end %>

            <div class="actions mt-4 px-4">
              <%= f.submit 'Log in', class: 'btn primary-btn fw-bold w-100' %>
            </div>
          <% end %>

          <%= render 'users/shared/links' %>
        </div>
      </div>
    </div>
  </div>
</div>
