<div class="bg-white rounded-lg shadow-sm w-full h-100 overflow-x-hidden">
  <div class="p-4 d-flex justify-content-end">
    <%= link_to authenticated_root_path,
        class: 'btn primary-btn fw-bold' do %>

      <i class="ph-bold ph-arrow-left me-2"></i>Back to Home
    <% end %>
  </div>

  <div class="py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="border rounded-md shadow-sm p-5 w-full">
            <%= form_with model: article do |form| %>
              <div data-controller="image-cropping" class="mt-2">
                <div class="mt-2">
                  <%=
                    form.label :title,
                               class: 'form-label text-base font-sans font-bold'
                  %><br>
                  <%=
                    form.text_field :title,
                                    class: 'form-control',
                                    placeholder: 'Title'
                  %>
                  <% article.errors.full_messages_for(:title).each do |message| %>
                    <div class="error-message"><%= message %></div>
                  <% end %>
                </div>

                <div class="mt-4">
                  <%=
                    form.label :Description,
                               class: 'form-label text-base font-sans font-bold'
                  %><br>
                  <%=
                    form.text_area :body,
                                   class: 'form-control',
                                   placeholder: 'Tell your story...',
                                   rows: 6
                  %>
                  <br>
                  <% article.errors.full_messages_for(:body).each do |message| %>
                    <div class="error-message"><%= message %></div>
                  <% end %>
                </div>

                <div>
                  <%=
                    form.label :image,
                               style: 'display: block',
                               class: 'text-base font-sans font-bold pb-2'
                  %>
                  <%=
                    form.file_field :image,
                                    data: {
                                      action:
                                        'change->image-cropping#imageSelected'
                                    }
                  %>

                  <div class="mt-3 ">
                    <%=
                      image_tag '',
                                data: {
                                  image_cropping_target: 'image'
                                },
                                style: 'max-width: 100%; display: none;',
                                class: 'w-50 h-50'
                    %>
                  </div>

                  <%=
                    form.hidden_field :crop_x,
                                      data: {
                                        image_cropping_target: 'x'
                                      }
                  %>
                  <%=
                    form.hidden_field :crop_y,
                                      data: {
                                        image_cropping_target: 'y'
                                      }
                  %>
                  <%=
                    form.hidden_field :crop_width,
                                      data: {
                                        image_cropping_target: 'width'
                                      }
                  %>
                  <%=
                    form.hidden_field :crop_height,
                                      data: {
                                        image_cropping_target: 'height'
                                      }
                  %>
                </div>
                <div class="flex justify-content-end py-3">
                  <%= form.submit 'Publish', class: 'btn primary-btn fw-bold' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
