<%= turbo_stream.remove("articles_placeholder") %>

<%= turbo_stream.append("articlelist") do %>
  <div class="row py-3 px-6 gy-4">
    <% @articles.each do |article| %>
      <div class="col-12 col-lg-6 col-xl-4 col-xxl-3">
        <div class="card h-100">
          <div class="p-3 border-bottom">
            <%= image_tag (article.image), class:"card-img-top rounded-3" if  article.image.attached? %>
          </div>

          <div class="card-body">
            <h6 class="card-title fw-bold">
              <%= truncate(article.title, length: 26) %>
            </h6>
            <p class="card-text">
              <%= truncate(article.body, length: 60) %>
            </p>
          </div>

          <div class="p-3">
            <a class="btn primary-btn fw-bold fs-sm" href="/articles/<%= article.id %>" data-turbo-frame="_top">
              Read <i class="ph-bold ph-arrow-right"></i>
            </a>
          </div> 
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @articles.next_page %>
  <%= turbo_stream.replace "articles_pagination" do %>
    <%= turbo_frame_tag "articles_pagination", src: articles_list_path(page: @articles.next_page), loading: :lazy do %>
      <section class="bg-white dark:bg-gray-900" id="articles_placeholder">
        <div class="row px-6 animate-pulse">
          <% 8.times do %>
            <div class="col-12 col-lg-6 col-xl-4 col-xxl-3">
              <%= render 'articles_placeholder' %>
            </div>
          <% end %>
        </div>
      </section>
    <% end %>
  <% end %>
<% end %>
