<% if user_signed_in? %>
  <div class="bg-white rounded-lg shadow-sm w-full h-100 d-flex">
    <% if @articles.any? %>
      <div class="p-4 w-100">
        <%= turbo_frame_tag :articlelist, src: articles_list_path(page: @articles.current_page), loading: :lazy do %>
          <section class="bg-white dark:bg-gray-900" id="articles_placeholder">
            <div class="row px-6 animate-pulse">
              <% 8.times do %>
                <div class="col-12 col-lg-6 col-xl-4 col-xxl-3">
                  <%= render 'articles_placeholder' %>
                </div>
              <% end %>
            </div>
          </section>
        <% end %>

        <%= turbo_frame_tag 'articles_pagination' %>
      </div>
    <% else %>
      <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
        <%= image_tag "no_article.png", class: "max-w-md w-full" %>
        <h2 class="mt-4 ">No Articles Here Yet!</h2>
      </div>
    <% end %>
  </div>
<% else %>
  <%=
    button_to 'Sign in',
              unauthenticated_root_path,
              class: 'btn btn-outline-success'
  %>
<% end %>
