<% if user_signed_in? %>
  <div class="bg-white rounded-lg shadow-sm w-full h-100 px-20">
    <div class="d-flex justify-content-end p-4 gap-2">
      <% if policy(@article).destroy? %>
        <%= link_to  article_path(@article), class: "btn",
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } do %>

          <%= image_tag 'delete.svg', alt: 'Delete', width: 25, height: 25 %>
        <% end %>
      <% end %>

      <% if policy(@article).update? %>
        <%= link_to 'Edit', edit_article_path(@article), class: "btn primary-btn fw-bold" %>
      <% end %>

      <%= link_to 'Back', authenticated_root_path, class: 'btn primary-btn fw-bold' %>
    </div>

    <div class="mx-20">
      <div class="d-flex justify-content-center p-5">
        <div class="d-flex flex-column gap-4">
          <div>
            <h1 class=""><%= @article.title %></h1>
            <small class="text-sm text-muted"><%=
                time_ago_in_words(@article.created_at)
                                                   %>
              ago</small>
          </div>

          <%= image_tag (@article.image),
            width: 500,
            height: 500,
            class: 'rounded-lg mr-2'
          %>
        </div>
      </div>

      <%= turbo_frame_tag "comment" do %>
        <div class="px-20">
          <p class="text-md d-flex justify-content-center">
            <%= @article.body %>
          </p>
          <div class="d-flex mb-3 border-top border-bottom">
            <div class="p-2">
              <%= button_to article_likes_path(@article), class: "btn" do %>
                <%= turbo_frame_tag "clap-#{@article.id}" do %>
                  <% if @article.likes.exists?(user_id: current_user.id) %>
                    <%=
                      image_tag 'clap-filled.svg',
                                width: 17,
                                height: 17
                    %>
                  <% else %>
                    <%=
                      image_tag 'clap.svg', width: 17, height: 17
                    %>
                  <% end %>
                  <span class="fs-12"><%= @article.likes.count %></span>
                <% end %>
              <% end %>
            </div>

            <div class="p-2">
              <%= link_to  @article, class: "btn" do %>
                <%=
                  image_tag 'message.svg', width: 17, height: 17
                %>
                <span class="fs-12"><%= @article.comments.count %></span>
              <% end %>
            </div>
          </div>

          <div class="pt-3">
            <ul>
              <h6>Responses(<%= @article.comments.count %>)</h6>

              <div class="border rounded-lg shadow-sm p-3 w-75">
                <%= form_with model: [@article, Comment.new] do |f| %>
                  <%=
                    f.text_area :body,
                                placeholder: 'What are your thoughts?',
                                class:
                                  'text-sm border-none w-100 focus:outline-none focus:ring-0'
                  %><br>
                  <%= f.hidden_field :article_id, value: @article.id %>

                  <div class="d-flex justify-content-end mt-1">
                    <%= f.submit 'Respond', class: 'btn primary-btn fw-bold fs-12' %>
                  </div>
                <% end %>
              </div>

              <ul>
                <%= render @article.comments, article: @article %>
              </ul>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <%= button_to 'Sign in', unauthenticated_root_path %>
<% end %>
