<div class="container custom pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="d-flex justify-content-center">
        <div class="bg-white rounded-md border shadow-sm p-5 w-full">
          <h2 class="d-flex justify-content-center">Signup</h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>

              <div class="field mt-3 px-4" style="font-size: 14px;">
                <%= f.label :email, class: 'form-label' %><br>
                <%= f.email_field :email, class: 'form-control ', autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field mt-3 px-4" style="font-size: 14px;">
                <%= f.label :password, class: 'form-label' %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br>
                <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
              </div>

              <div class="field mt-3 px-4" style="font-size: 14px;">
                <%= f.label :password_confirmation, class: 'form-label' %><br>
                <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
              </div>

              <div class="actions mt-4 px-4">
                <%= f.submit "Sign up", class: "btn primary-btn fw-bold w-100" %>
              </div>
            <% end %>

          <div class="mb-4">
          <%= render "users/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
